label {
  margin-bottom: .5em;
}

input, textarea {
  display: block;
  margin-bottom: .5em;
  border: 1px solid $black;

  &:active, &:focus {
    outline-color: $main-orange;
    border: 1px solid $main-orange;
  }
}

input[type="text"], textarea {
  width: 20em;
}

input[type="text"] {
  height: 2em;
}

textarea {
  height: 5em;
}

button {
  border-radius: 2.5px;
  margin: .5em 0 0 0;
  padding: .5em;
  color: $white;
  border: 1px solid $main-orange;
  background: $main-orange;

  transition: border 500ms ease, background-color 500ms ease;

  &:hover {
    border: 1px solid $hover-orange;
    background: $hover-orange;
  }
}