body {
  background: $main-orange;
}

main {
  @include outer-container;
}

.task-container {
  overflow: hidden;
  margin-top: 2em;
  background: $white;
  padding: 1em;

  ul {
    border-bottom: 1px solid $main-orange;

    &:first-child {
      border-top: 1px solid $main-orange;
    }
  }

  li:last-child {
    margin-bottom: .5em;
  }

  li:first-child {
    margin-top: .5em;
  }
}
